<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercadolibre.android.dogfooding.configure">

    <application>

        <activity
            android:name="com.mercadolibre.android.dogfooding.configure.ASimpleFeatureActivity"
            android:theme="@style/Theme.Base"
            tools:ignore="AppLinkUrlError"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dogfooding"
                    android:path="/dummy-feature"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
    </application>

</manifest>